/* 사전 설정 */

@font-face {
  font-family: 'M';
  src: url("/font/NotoSansKR-Medium.otf") format('opentype')
}

@font-face {
  font-family: 'R';
  src: url("/font/NotoSansKR-Regular.otf") format('opentype')
}

@font-face {
  font-family: 'L';
  src: url("/font/NotoSansKR-Light.otf") format('opentype')
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'L';
  background-color: white;
}

/* 검색 바 */

.icons{
  display: flex;
  align-self: center;
}

.search{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

body.active{
  height: 100%;
  overflow: hidden;
}

.account{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.search img{
  width: 25px;
  height: 25px;
}

.account img{
  width: 25px;
  height: 25px;
}

.searchbar{
  position: fixed;
  display: flex;
  padding: 10px;
  width: 70%;
  margin-top: 100px;
  border-radius: 10px;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
}

.overlay{
  position: fixed;
  top: -100%;
  right: 0;
  left: 0;
  display: flex;
  width: 100%;
  opacity: 0;
  visibility: visible;
  z-index: 298;
  height: 100%;
  transition: 1s;
}

.overlay.visible{
    top: 0;
    height: 100%;
  opacity: 1;
  visibility: visible;
  transition: 1s;
}


.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.711);
  z-index: 29;
  transition: 1s;
  z-index: 80;
}

.background.visible{
  top: 0;
  height: 100%;
  opacity: 0.7;
  visibility: visible;
}
  
section {
  padding-top: 100px;
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f1f1f1;
	padding-bottom: 300px;
  z-index: 3000;
}


section.visible{
	opacity: 1;
	visibility: visible;
}

.autocomplete > div.active {
	background: #ffffff;
	color: #000;
	margin-bottom: 10px;
	margin-top: 10px;
}

/*---------------------모바일 햄버거 매뉴--------------------*/


/* Hamburger button styles. */
.hamburger-button {
  position: fixed;
  width: 25px;
  height: 7vh;
  right: 3%;
  z-index: 3000;
  display: none; /* Flex 컨테이너로 변경 */
  justify-content: center;
  align-items: center;
}

.hamburger-button span {
  position: absolute;
  align-items: center;
  height: 2px;
  border-radius: 4px;
  width: 90%;
  background-color: #545454;
  margin-top: 30px;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

    .hamburger-button span:nth-child(1) {
      top: 0px;
    }

    .hamburger-button span:nth-child(2),
    .hamburger-button span:nth-child(3) {
      top: 9px;
    }

    .hamburger-button span:nth-child(4) {
      top: 18px;
    }

    .hamburger-button.active span:nth-child(1),
    .hamburger-button.active span:nth-child(4) {
      opacity: 0;
    }

    .hamburger-button.active span:nth-child(2) {
      transform: rotate(45deg);
    }

    .hamburger-button.active span:nth-child(3) {
      transform: rotate(-45deg);
    }


.menu{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: black;
  font-size: 20px;
} 

.overlay-menu{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.8s ease-in-out;
  z-index: 2000;
  align-items: center;
}

.overlay-menu.visible{
  height:100%;
  opacity: 1;
  visibility: visible;
}

@keyframes fadeInLeft{
  0% { opacity: 0; transform: translateX(-25%);}
  100% { opacity: 1; transform: translateX(0);}
}

.overlay.visible li{
  animation: fadeInLeft 0.3s ease forwards;
}



@media (max-width: 1024px){

  .hamburger-button{
    display: flex;
  }

  .icons{
    position: relative;
    right: 30px;
  }

}

@media (max-height: 1366px){
  .hamburger-button span{
    margin-top: 34px;
  }
}

@media (max-height: 1200px){
  .hamburger-button span{
    margin-top: 28px;
  }
}

@media (max-height: 1100px){
  .hamburger-button span{
    margin-top: 25px;
  }
}

@media (max-height: 1050px){
  .hamburger-button span{
    margin-top: 23px;
  }
}

@media (max-height: 1000px){
  .hamburger-button span{
    margin-top: 20px;
  }
}

@media (max-height: 900px){
  .hamburger-button span{
    margin-top: 18px;
  }
}

@media (max-height: 850px){
  .hamburger-button span{
    margin-top: 16px;
  }
}

@media (max-height: 750px){
  .hamburger-button span{
    margin-top: 18px;
  }
}

@media (max-height: 700px){
  .hamburger-button span{
    margin-top: 17px;
  }
}


/* 로그인 */

input{
  border: 1px solid #ababab;
  border-radius: 10px;
}

input:focus{
  background-color: #f7f6f6;
}

button{
  border-radius: 5px;
  padding: 0.8rem;
  margin-bottom: 20px;
  transition: 0.5s;
  border: #ababab;
  width: 300px;
}

button:hover{
  background-color: rgb(186, 186, 186);
}

/* swiper.js 설정 */

#app {
  height: 100%;
}

.swiper {
  width: 90%;
  height: 100%;
  margin-bottom: 100px;
}

.swiper-slide {
  position: relative;
  text-align: center;
  background: #edecec;
  border-radius: 30px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 370px;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 텍스트 전역 설정 */

.learnmore{
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-family: 'R';
}

.title{
  margin-bottom: 30px;
  font-family: 'R';
  font-size: 30px;
  text-align: center;
}

.subtitle{
  font-size: 15px;
  text-align: center;
}

.title-left{
  margin-bottom: 30px;
  font-family: 'R';
  font-size: 30px;
  text-align: left;
  float: left;
}

.subtitle-left{
  font-size: 15px;
  text-align: left;
  float: left;
}

.title-right{
  margin-bottom: 30px;
  font-family: 'R';
  font-size: 30px;
  text-align: right;
  float: right;
}

.subtitle-right{
  font-size: 15px;
  text-align: right;
  float: right;
}

/* HomePage css */

.main-background{
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f1;
  z-index: 200;
}

.main-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
}

.main-text{
  position: relative;
  display: flex;
  align-self: center;
  flex-direction: column;
  text-align: left;
  float: left;
}

.main-title{
  font-size: 50px;
  font-family: 'R';
}

.main-subtitle{
  margin-top: 30px;
  font-family: 'L';
  font-size: 20px;
  color: #535353;
}

.main-item{
  position: relative;
  align-self: center;
  width: 50%;
}

.main-item img{
  width: 100%;
  height: auto;
}

/* content박스 */

.contentbox-1{
  margin-top: 100px;
  position: relative;
  display: flex;
  width: 80%;
  height: 550px;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}

.textbox-1{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  z-index: 2;
}

.imagebox-1{
  position: relative;
  display: flex;
  width: 50%;
  height: 30rem;
  text-align: right;
}

.imagebox-1 img{
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 30px;
}

.contentbox-2{
  margin-top: 100px;
  position: relative;
  display: flex;
  width: 80%;
  height: 550px;
  margin-left: 10%;
  margin-right: 10%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
  z-index: 1;
}

/* 하단 바로가기 링크*/

.contentbox-3{
  margin-top: 150px;
  position: relative;
  display: flex;
  width: 90%;
  height: 550px;
  margin-left: 5%;
  margin-right: 5%;
}

.textbox-01{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.box-item1{
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
}

.box-item1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.contentbox-4{
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
}

.box-item2{
  position: relative;
  width: 49%;
  overflow: hidden;
  border-radius: 30px;
  margin-right: 1%;
}

.box-item3{
  position: relative;
  width: 49%;
  overflow: hidden;
  border-radius: 30px;
  margin-left: 1%;
}

.box-item2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.box-item3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

/* footer 전역설정 */

.problemcontainer{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 370px;
  background-color: #edecec;
  z-index: 3;
  margin-bottom: 350px;
}

.footercontainer{
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  width: 100%;
  opacity: 0;
  padding-bottom: 130px;
  display: none;
}

.footercontainer.active{
  opacity: 1;
  display: flex;
}

.footertext{
  position: fixed;
  display: flex;
  text-align: center;
    text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #edecec;
  font-size: 13px;
  bottom: 20px;
  z-index: 10;
  opacity: 0;

}

.footertext.active{
  opacity: 1;
}

/* Aboutpage css */

.about-main-container{
  top: 7vh;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 150px;
}

@media (max-height:750px) {
  .about-main-container{
    top: 9vh;
  }
}

.about-main-img{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  align-items: center;
  filter: brightness(70%);
}


.about-main-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-family: 'R';
}

.about-text{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

/* Content */

.about-content-container{
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 400px;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 30px;
  object-fit: cover;
}

.about-content-textbox{
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 3% 5% 0 5%;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  color: black;
}

.about-content-textbox.hovered {
  margin: 5% 6% 0 5%;
  transition: 0.5s ease-in-out;
}

.about-content-image{
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.about-content-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content-container2{
  margin-top: 50px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 400px;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 30px;
  object-fit: cover;
}

/* Innovation css */

.innovation-main-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 650px;
  top: 7vh;
  overflow: hidden;
}

@media (max-height: 750px) {
  .innovation-main-container{
    top: 9vh;
  }
}

.innovation-main-video{
  position: relative;
  display: flex;
  filter: brightness(80%);
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.innovation-main-text{
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  width: 80%;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Swiper.js 설정 */

.swiper-wrapper{
  margin-top: 150px;
  display: flex;
  margin-bottom: 100px;
}

.innovation-swiper-text{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

/* 기술 뉴스 */

.innovation-news-container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 560px;
}

.innovation-news-container img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 30px;
  filter: brightness(60%);
}

/* support css */

.support-center-title{
  position: relative;
  top: 150px;
  margin-bottom: 100px;
}

.support-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  top: 100px;
  margin-bottom: 200px;
}

.support-item{
  position: relative;
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 100%;
  flex-direction: column;
}

.support-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(85%);
}

.support-text{
  position: absolute;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  display: flex;
  flex-direction: column;
  bottom: 30px;

}


.loremipsum-img{
  position: relative;
  margin-top: 30px;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  
}

.lorem-text{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-bottom: 100px;
}

.store-text{
  margin-top: 100px;
}

#map{
  margin-top: 50px;
  width: 100%;
  height: 350px;
}

/* 반응형 디자인 적용 */


@media (max-width:1024px) {
  .main-container{
    flex-direction: column-reverse;
    justify-content: center;
  }

  .main-text{
    text-align: center;
  }

  .main-item{
    width: 90%;
  }

  .support-container{
    height: 360px;
  }


  
}

@media (max-width:820px) {

  .footertext{
    font-size: 10px;
    width: 500px;
  }

  .title{
    font-size: 25px;
  }

  .title-right{
    font-size: 25px;
  }

  .title-left{
    font-size: 25px;
  }


  .textbox-1{
    width: 40%;
  }

  .contentbox-3{
    height: 400px;
  }

  .contentbox-4{
    height: 400px;
    margin-top: 20px;
  }

  .about-main-container{
    margin-bottom: 100px;
  }

  .about-main-text{
    font-size: 35px;
  }

  .about-content-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 360px;
  }

  .about-content-container2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 360px;
  }
  
  .innovation-main-container{
    height: 400px;
    justify-content: flex-start;
  }

  .innovation-news-container{
    height: 350px;
  }

  .innovation-news-container img{
    border-radius: 15px;
  }

  .support-container{
    height: 700px;
    flex-wrap: wrap;
    margin-bottom: 400px;
  }

  .support-item{
    height: 40%;
    margin-top: 30px;
  }

  .innovation-main-video{
    height: 100%;
  }

  .support-center-title{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

}

@media (max-width:500px) {

  .title{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title-left{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .title-right{
    font-size: 20px;
    margin-bottom: 10px;
  }

  .subtitle{
    font-size: 12px;
    margin-bottom: 10px;
  }

  .subtitle-left{
    font-size: 12px;
    margin-bottom: 10px;
  }

  .subtitle-right{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .main-title{
    font-size: 30px;
  }

  .main-subtitle{
    font-size: 17px;
  }

  .contentbox-1{
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .imagebox-1{
    width: 100%;
  }

  .imagebox-1 img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 0;
    overflow: hidden;
  }

  .textbox-1{
    margin-top: 20px;
    width: 90%;
    margin-bottom: 20px;
  }

  .contentbox-2{
    flex-direction: column-reverse;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 50px;
  }

  .contentbox-3{
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .box-item1{
    border-radius: 0;
  }

  .box-item2{
    border-radius: 0;
    margin: 0;
    width: 50%;
  }

  .box-item3{
    border-radius: 0;
    margin: 0;
    width: 50%;
  }

  .contentbox-4{
    width: 100%;
    margin: 0;
    height: 300px;
    border-radius: 0;
  }

  .about-main-text{
    font-size: 25px;
  }

  .about-main-container{
    height: 150px;
  }
  .about-content-container{
    flex-direction: column-reverse;
  }

  .about-content-container2{
    flex-direction: column-reverse;
  }

  .about-content-textbox{
    padding-bottom: 20px;
  }

  .innovation-main-container{
    height: 330px;
  }

  .swiper-slide{
    min-height: 250px;
  }

  .swiper{
    margin-bottom: 0;
  }

  .learnmore{
    font-size: 15px;
  }

  .problemcontainer{
    height: 320px;
    margin-bottom: 325px;
  }
  
  .footercontainer{
    padding-bottom: 100px;
    flex-direction: row;
  }

  .footertext{
    width: 80%;
  }

  .menu{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
  }
}