.headerbg{
    position: fixed;
    width: 100%;
    background-color: #f1f1f1;
    height: 7vh;
    top: 0;
    z-index: 300;
    opacity: 0.7;
    z-index: 299;
}

.headercontainer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-self: center; 
    width: 100%;
    height: 7vh;
    top: 0;
    z-index: 300;
    backdrop-filter: blur(30px);
}

@media (max-height:750px) {
    .headercontainer{
        height: 9vh;
    }

    .headerbg{
        height: 9vh;
    }
}

.headeritem{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-self: center;
    opacity: 1;
}

.logo{
    align-self: center;
    width: 52px;
    height: 45px;
}

.menus{
    text-align: center;
    align-self: center;
    margin-left: 7%;
    margin-right: 7%;
}

.menu{
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin-left: 5em;
    margin-right: 5em;
}

/* 반응형 디자인 적용 */

@media (max-width:1024px) {

    .headercontainer{
        margin: 0%;
    }

    .headeritem{
        justify-content: space-between;
    }

    .menus{
        display: none;
    }
    
    
}
